<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous"
        />

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
        <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        

        <link href="indexStyleSheet.css" rel="stylesheet" />
        <title>ByeByeBoredom</title>
        
    </head>
    <body>
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="byeboredom.webp" width="40" height="40" />
            <strong>ByeByeBoredom</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ChelseaPiers.html">Chelsea Piers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="AmericanDream.html">American Dream</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CentralPark.html">Central Park</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ContactUs.html">Contact Us</a>
            </li>
            </ul>
        </div>
        </div>
        </nav>
        <!-- Header ends -->
        <img id="logo" src="ChelseaPiersLogo.jpg" width="400" height="400">
        <div id="vueAttraction">
            <div class="widget">
                <fieldset>
                    <legend>Book a Reservation</legend>
                    <div class="controlgroup-vertical">
                        <input v-model="memberStatus" type="radio" value="member" id="member" name="membership">
                        <label for="member">Member</label>
                    
                        <input v-model="memberStatus" type="radio" value="non-member" id="non-member" name="membership">
                        <label for="non-member">Non-Member</label> <br>
                        <label>Activity:</label>
                        <select id="myDropdown" @change="onchange($event)" v-model="activitySelected">  
                            <option v-for="activity in activities" :key="activity.id" :selected="activitySelected == activity"  value="activity.name"> {{ activity.name }} </option>
                            <option value="" disabled selected>Please Select an Option</option>
                        </select><br>
                        <label for="people"># of people</label>
                        <input type="number" id="people" v-model.number="peopleAmount">

                        <p>Date: <input type="text" v-model="dateSelected" id="datepicker"></p>
        
                        <button id="book" >Book</button>

                        <span>people: {{ peopleAmount }}</span><br>
                        <span>membership: {{ memberStatus }}</span><br>
                        <span>Date Selected: {{ dateSelected }}</span><br>
                        <span>Activity Selected: {{ activitySelected }}</span>
        
                        <div id="dialog" title="Reservation Confirmation" style="display:none">
                            <p>Your reservation was successful booked. <br> Thank You!</p>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <script src="ChelseaPiers.js"></script>
    </body>
</html>
